{% extends 'base_logined.html' %}

{% block title%}评测列表{% endblock %}

{% block content %}
<h2>评测列表</h2>
<div class="bs-example" data-example-id="bordered-table">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>用户</th>
            <th>结果</th>
            <th>题目</th>
            <th>时间</th>
            <th>内存</th>
            <th>语言</th>
        </tr>
        </thead>
        <tbody>
        {% for i in page_1 %}
        {% if i.islook %}
        <tr>
            <th scope="row">{{ i.id }}</th>
            <td>{{ i.foruser }}</td>
            <td><a href="/record/{{ i.id }}/">{{ i.get_stats_display }}</a></td>
            <td><a href="/problem/{{ i.forproblem.id }}">{{ i.forproblem.title }}</a></td>
            <td>{{ i.use_time }}</td>
            <td>{{ i.use_memory }}</td>
            <td>{{ i.forlanguage }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% if page_1.has_other_pages %}   
    <div class="text-center">
        {% if page_1.has_previous  %}
        <a class="text-secondary" href="?page={{page_1.previous_page_number}}">上一页</a>
        {%endif%}
        <span class="mx-2">第&nbsp;{{page_1.number}}&nbsp;/&nbsp;{{ page_1.paginator.num_pages }}&nbsp;页</span>
        {%  if page_1.has_next %}
        <a class="text-success" href="?page={{page_1.next_page_number}}">下一页</a>
        {%  endif %}
    </div>
    {% endif %}
</div>
{% endblock %}